.page-container {
  position: absolute;
  min-height: 100vh;
  width: 100%;
}

#content-wrap {
  padding-bottom: 5.5rem;
}

.footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  background-color: cornflowerblue;
}
